/* Account.css */

.account-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .create-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #0056b3;
  }
  input{
    height: 30px;
  }

  .allimages{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
  }

  /* Add this to your CSS file or <style> tag */
.selected-image {
  border: 2px solid #03264d; /* Add a border to selected images */
  background-color: #768fc7; /* Change the background color for selected images */
  border-radius: 10px;
}
.image-container {
  margin: auto;
  padding: 20px;
  cursor: pointer;
}


/* CSS for selected images */
.selected-media {
  border: 2px solid #033e7e; /* Add a border to selected images */
  background-color: #5242e9; /* Change the background color for selected images */
  cursor: pointer;
  border-radius: 10px;
}

/* CSS for selected videos */
.selected-video {
  border: 2px solid #311515; /* Add a border to selected videos */
  background-color: #ee9999; /* Change the background color for selected videos */
  cursor: pointer;
  border-radius: 10px;
}
.photosdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 4px solid black;
  padding: 20px;
  margin: auto;
}