.selelabel{
    justify-content: center;
    position: absolute;

}
.sele{
    margin-left: 120px;
    margin-top: 5px;
    width: 300px;
}
input[type=text]{
    width: 280px;
}
select{
    height: 35px;
}
#summary{
    display: flex;
    gap: 20px;
}
#summary>div{
    border: 1px solid black;
    width: 33%;
    padding: 10px;
}

.main{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}